.container-jouele-player {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
}

.container-jouele-player {
  max-width: 960px;
  margin: 0 auto;
  padding: 0.5rem;
}

.example-header {
  font-size: 32px;
}
